<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="ClientName">SBAC</entry>
	<entry key="AppName">WebSim</entry>
	
	<!-- entry key="DBDialect">SQLSERVER</entry -->
	
	<entry key="EnableLoadData">false</entry>
	 
	<entry key="TDSSessionDBName">session_sim</entry>
	<entry key="ItembankDBName">itembank</entry>
	<entry key="TDSArchiveDBName">archive</entry>
	<entry key="TDSConfigsDBName">configs_sim</entry>
	<entry key="DBDialect">MYSQL</entry>
	
	<entry key="jdbc.url">jdbc:mysql://tds-db.dev.opentestsystem.org:3306</entry>
    <entry key="jdbc.userName">dbsbac</entry>
    <entry key="jdbc.password">osTyMhRM1C</entry>
	
	<entry key="AdditionalUrlParm">?useServerPrepStmts=false&amp;rewriteBatchedStatements=true</entry>
	<entry key="keepSchema">true</entry>
	   
	<entry key="unitTests.useHardCodedBaseline">false</entry>
	<entry key="EncryptionKey">testKey123456789123456789</entry>
</properties>